# Supabase credentials (get these from your Supabase Dashboard -> Project Settings -> API)
NEXT_PUBLIC_SUPABASE_URL=https://your project link
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_your key
ENCRYPTION_SECRET_KEY=a6e3baec44a434009ba86b0e4d08c04e813c361423539385f2dbd259423453b1