# Supabase credentials (get these from your Supabase Dashboard -> Project Settings -> API)
NEXT_PUBLIC_SUPABASE_URL=https://your project link
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_your key
ENCRYPTION_SECRET_KEY= generate your own by running `openssl rand -hex 32` in your terminal
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key_here
